html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #3e3e3e;
    
}

h1 {
    font-family: 'Coda', cursive;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.page-header {
    color: #a3a3a3;    
    font-size: 24px;
    text-align: center;
}

.page-header .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.page-header img {
    height: 6em;
}

.page-header h1 {
    font-size: 68px;
    color: #ffffff;
    margin: 0;
}

.page-header a {
    color: #ffffff;
    -ms-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    -webkit-transition: color .2s ease-out;
    transition: color .2s ease-out;
}

.page-header a:hover {
    color: #a3a3a3;
}

.page-header .content .social-links {
    margin-top: 1em 
}

.page-header .content .social-links a {
    margin: 0.5em 
}
